<div id="contact_form">
  <h1>Contact me</h1>
  <form action="/contact" method="post">
    <label for="message_email">Email</label>
    <input id="message_email" type="email" size="30" name="message[email]">
    <br />
    <label for="message_subject">Subject</label>
    <input id="message_subject" type="text" size="30" name="message[subject]">
    <br />
    <label for="message_content">Message</label>
    <br>
    <textarea id="message_content" rows="15" name="message[content]" cols="50"></textarea>
    <br>
    <input type="submit" value="Send" name="commit">
    
  </form>
</div>
