<div id="bio">
  <p>
    <img src="/images/barney.jpg" />
  </p>
  <p>Barney Stinson (Neil Patrick Harris) is Ted's wingman and good friend (though Barney considers Ted his best friend). </p>

  <p>Barney is a womanizer and it's revealed it's the way he is because he was once a hippie who wanted to join the peace corps but lost his one serious girlfriend, Shannon, to a suit wearing rich womainizer. </p>

  <p>Barney then became that man and ever since is always seen out in a suit (except to funerals) and utters some of the best catch phrases and pickup lines in television history.</p>

  <p>Barney once violated the bro code and slept with Ted's ex-girlfriend, Robin.  Barney has true feelings for Robin, as revealed to Lily, but does his best to hide them.  They ended up dating briefly but broke up after half a season.</p>

</div>
<div class="clear"></div>


